.listContainer {
  opacity: 0;
  animation: listView 0.5s cubic-bezier(0.25, 0.35, 0.42, 1.01) 1 alternate
    forwards;
}

.listContainer.deactive {
  animation: listDeview 0.5s cubic-bezier(0.25, 0.35, 0.42, 1.01) 1 alternate
    forwards;
}

.listContainer p::selection {
  background-color: rgba(15, 205, 252, 0.219);
  color: rgb(0, 132, 255);
}
.listContainer.dragto {
  border-top: 2px rgba(54, 116, 250, 0.705) solid;
}
@keyframes listView {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes listDeview {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(-50px);
  }
}
