.listContainer {
  transition: background-color 0.2s ease;
  border-radius: 12px;
  opacity: 0;
  animation: listView 0.5s cubic-bezier(0.25, 0.35, 0.42, 1.01) 1 alternate
    forwards;
  cursor: grab;
}
.listContainer.deactive {
  animation: listDeview 0.5s cubic-bezier(0.25, 0.35, 0.42, 1.01) 1 alternate
    forwards;
}

.listContainer-text .before {
  transition: all 0.5s ease;
  width: 0%;
  height: 2px;
  background-color: #869292a3;
  display: inline-block;
  border-radius: 9%;
  position: absolute;
  bottom: -1px;
}

.listContainer.dragto .listContainer-text .before {
  background-color: rgb(248, 50, 50);
  width: 100%;
}
/* if we had (||) selector we did not need any js here but now check listContainer drag and drop methods */
@keyframes listView {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes listDeview {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(-50px);
  }
}
